.sidebar-container {
  position: relative;
}

.sidebar {
  width: 350px;
  height: 100%;
  background-color: #e5e5e5;
  border-right: 1px solid #ccc;
  position: relative;
  z-index: 1;
}

.sidebar.hide {
  display: none;
}

.sidebar-header {
  border-bottom: 1px solid #ccc;
  height: 39px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header__logo {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 900;
  color: #6b76f3;
}

.sidebar-notes {
  height: calc(100vh - 40px);
  overflow-y: auto;
}

@media screen and (max-width: 992px) {
  .sidebar {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 270px;
  }
}
